.benefits {
  background-color: var(--primary-color);

  &__inner {
    margin-top: 256px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @media (max-width: (768px)) {
      margin-top: 116px;
      grid-gap: 20px;
      padding-left: 20px;
    }
    @media (max-width: (700px)) {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 0;
    }
  }

  &__item {
    position: relative;
    @media (max-width: (700px)) {
     display: flex;
     justify-content: center;
    }
  }

  &__info {
    background-color: var(--secondary-color);
    max-width: 260px;
    min-height: 277px;
    padding-top: 88px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: (768px)) {
      max-width: 140px;
      min-height: 143px;
      padding-top: 50px;
    }
  }

  &__text {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--light-color);
    padding: 0px 35px;

    @media (max-width: (768px)) {
      font-size: 12px;
      padding: 0 22px;
    }
  }

  &__number {
    font-weight: 900;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--light-color);
    width: 100%;
    height: 62px;
    @include flex-all-center;

    @media (max-width: (768px)) {
      font-size: 16px;
      height: 20px;
    }
  }
}

.figure-bg {
  position: absolute;
  top: -242px;
  left: -20px;
  right: 0;

  @media (max-width: (768px)) {
    position: absolute;
    top: -131px;
    left: -12px;
    right: 0;
  }
  @media (max-width: (700px)) {
    width: 163px;
  }
}

.hexagonBen__cover {
  --uihexagonBenClipPath: var(--hexagonBenClipPath);
  box-sizing: var(--hexagonBenBoxSizing, border-box);
  display: var(--hexagonBenDisplay, inline-flex);
  padding: var(--hexagonBenStrokeThickness, 20px);
  clip-path: var(--uihexagonBenClipPath);
  background-color: var(--hexagonBenStrokeColor, currentColor);
  --hexagonBenStrokeColor: #5695CB;
  /* Цвет рамки */
  --hexagonBenStrokeThickness: 20px;
  /* Ширина рамки */
}

.hexagonBen {
  position: absolute;
  top: -215px;

  --uihexagonBenClipPath: var(--hexagonBenClipPath);
  box-sizing: var(--hexagonBenBoxSizing, border-box);
  display: var(--hexagonBenDisplay, inline-flex);
  padding: var(--hexagonBenStrokeThickness, 3px);
  clip-path: var(--uihexagonBenClipPath);
  background-color: var(--hexagonBenStrokeColor, currentColor);
  --hexagonBenStrokeColor: var(--light-color);
  /* Цвет рамки */
  --hexagonBenStrokeThickness: 5px;
  /* Ширина рамки */

  @media (max-width: (768px)) {
    --hexagonBenStrokeThickness: 2px;
    top: -114px;
  }
}

.hexagonBen-img {
  max-width: 250px;
  display: block;
  clip-path: var(--uihexagonBenClipPath);
  position: relative;

  @media (max-width: (768px)) {
    max-width: 136px;
  }
}


.hexagonBen-border {
  --hexagonBenClipPath: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
