.footer {
  &__top {
    padding-top: 92px;
    padding-bottom: 22px;
    background-color: var(--primary-color);

    @media (max-width: (768px)) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    @media (max-width: (700px)) {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &__bottom {
    background-color: var(--dark-color);

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: right;
      letter-spacing: 0.02em;
      color: var(--light-color);
      opacity: 0.5;

      @media (max-width: (768px)) {
        font-size: 12px;
      }

      @media (max-width: (400px)) {
        font-size: 11px;
      }
    }
  }

  &__bottom-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: (768px)) {
      height: 66px;
    }

    @media (max-width: (700px)) {
      height: 138px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.sitemap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    ul {
      li {
        margin-bottom: 20px;

        @media (max-width: (990px)) {
          margin: 0;
          margin-bottom: 13px;
        }
      }
    }
  }

  &__item--orderLast {
    order: 1;

    @media (max-width: (70px)) {
      order: 0;
    }
  }

  &__title {
    margin-top: 0;
    @media (max-width: (990px)) {
      margin: 0;
      margin-bottom: 13px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--light-color);
    opacity: 0.5;

    @media (max-width: (990px)) {
      font-size: 12px;
    }
  }

  @media (max-width: (600px)) {
    display: none;
  }

}
.sitemap-mobile{
  display: none;

  &__top{
    display: flex;
    justify-content: space-between;

    .sitemap__item{
      margin-bottom: 30px;
    }
  }
  &__left{
    display: flex;
    .sitemap__item {
      margin-right: 40px;
    }
    @media (max-width: (500px)) {
      display: block;

      .sitemap__item {
        margin-right: 0;
      }
    }
  }

  @media (max-width: (600px)) {
    display: block;
  }
}

.copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--light-color);
  opacity: 0.5;

  @media (max-width: (768px)) {
    font-size: 12px;
  }

  @media (max-width: (700px)) {
    font-size: 11px;
    margin-bottom: 9px;
  }
}

.polits {
  @media (max-width: (700px)) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.polits__item {
  margin-left: 50px;

  @media (max-width: (768px)) {
    font-size: 12px;
  }

  @media (max-width: (700px)) {
    font-size: 11px;
    margin-left: 0;
    margin-bottom: 9px;
  }
}
