.news {
  background-color: var(--secondary-color);

  &__filtr {
    margin-bottom: 50px;
    display: flex;

    @media (max-width: (768px)) {
      margin-bottom: 30px;
    }
    @media (max-width: (600px)) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  }

  &__link {
    display: inline-block;
    padding: 8px 20px;
    font-weight: 900;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    background-color: var(--secondary-color);
    border-radius: 100px;
    margin-right: 20px;
    transition: all .2s ease-in-out;

    &:hover {
      color: var(--secondary-color);
      background-color: var(--light-color);
    }
    @media (max-width: (768px)) {
      font-size: 12px;
    }
    @media (max-width: (600px)) {
      margin-bottom: 10px;
    }
  }
}

// ============ Slider ==========

.news {
  &__container {
    position: relative;
  }

  &__item {
    background-color: var(--light-color);
  }

  &__img {
    .image {
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #000;
  }

  &__text {
    margin: 23px 30px 19px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--brown-color);

    @media (max-width: (768px)) {
      font-size: 12px;
      margin: 10px 20px;
    }
  }

  &__btn-prev-1,
  &__btn-prev-2 {
    background-image: url("../img/btn-prev.svg");
    @include bg-cover;
    position: absolute;
    left: -70px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 45px;

    @media (max-width: (768px)) {
      left: 20px;
      width: 20px;
      height: 30px;
    }
    @media (max-width: (700px)) {
      left: 0;
    }

    @media (max-width: (400px)) {
      display: none;
    }
  }

  &__btn-next-1,
  &__btn-next-2 {
    background-image: url("../img/btn-next.svg");
    @include bg-cover;
    position: absolute;
    right: -70px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 45px;

    @media (max-width: (768px)) {
      right: 20px;
      width: 20px;
      height: 30px;
    }
    @media (max-width: (700px)) {
      right: 0;
    }

    @media (max-width: (400px)) {
      display: none;
    }
  }

  &__btn {
    background-color: var(--light-color);
  }
}

.intro__more--secondary {
  padding-bottom: 28px;
  margin-left: 30px;
  color: var(--secondary-color);

  &::after {
    background-image: url('../img/arrow-more-blue.svg');
  }

  @media (max-width: (768px)) {
    &::after {
      background-image: url('../img/arrow-more-blue-min.svg');
    }
  }

}

.news__slider-1,
.news__slider-2 {
  @media (max-width: (768px)) {
    width: 83%;
  }
  @media (max-width: (400px)) {
    width: 100%;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 20px;
  height: 20px;
  background: #27364B;
  opacity: 0.2;

  @media (max-width: (768px)) {
    width: 10px;
    height: 10px;
  }

  &-active {
    background: #27364B;
    opacity: 1;
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;

  @media (max-width: (768px)) {
    margin: 0 5px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  @media (max-width: (400px)) {
    margin-top: 20px;
  }
}
.tabs {
  @include tabs;
  &__nav-btn--active {
    color: var(--secondary-color);
    background-color: var(--light-color);
  }
}
