// ============ Slider ==========
.partners {
  &__container {
    position: relative;
  }
  &__item{
    @include flex-all-center;
  }
  &__img {
    max-height: 100px;
  }
  &__slider-wpapper{
    align-items: center;
  }

  &__btn-prev {
    background-image: url("../img/btn-prev.svg");
    @include bg-cover;
    position: absolute;
    left: -70px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 45px;

    @media (max-width: (768px)) {
      left: 20px;
      width: 20px;
      height: 30px;
    }
  }

  &__btn-next {
    background-image: url("../img/btn-next.svg");
    @include bg-cover;
    position: absolute;
    right: -70px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 45px;

    @media (max-width: (768px)) {
      right: 20px;
      width: 20px;
      height: 30px;
    }
  }

  &__btn {
    background-color: var(--light-color);
  }
}

.intro__more--secondary {
  padding-bottom: 28px;
  margin-left: 30px;
  color: var(--secondary-color);

  &::after {
    background-image: url('../img/arrow-more-blue.svg');
  }
  @media (max-width: (768px)) {
    &::after {
      background-image: url('../img/arrow-more-blue-min.svg');
    }
  }
}

.partners__slider{
  @media (max-width: (768px)) {
    width: 83%;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -50px;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 20px;
  height: 20px;
  background: #27364B;
  opacity: 0.2;

   @media (max-width: (768px)) {
     width: 10px;
     height: 10px;
   }

  &-active {
    background: #27364B;
    opacity: 1;
  }
}
