.reviews {
  background-color: var(--primary-color);

  &__item {
    padding: 50px 30px 48px 30px;

    @media (max-width: (768px)) {
      padding: 25px 20px 20px 20px;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 16px;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 0 0 100px;

    @media (max-width: (768px)) {
      flex: 0 0 80px;
    }

    .image {
      width: 70px;
      height: 70px;
      border: 8px solid #eef4fa;
      border-radius: 50%;

      @media (max-width: (768px)) {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__name {
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--brown-color);
    display: flex;
    flex-direction: column;

    @media (max-width: (700px)) {
      line-height: 120%;
    }

    p {
      margin: 0;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 24px;

      @media (max-width: (768px)) {
        font-size: 14px;
      }

    }

    span {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      display: inline-block;

      @media (max-width: (768px)) {
        font-size: 12px;
      }
    }
  }

  &__content {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--brown-color);
    margin-bottom: 19px;

    @media (max-width: (768px)) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__bottom {
    display: flex;
  }

  &__quotation {
    display: flex;
    flex: 0 0 100px;
    align-items: flex-start;
    justify-content: center;
    transform: translate(-10px, 0);

    @media (max-width: (768px)) {
      display: none;
    }
  }
}

.intro__more--brown {
  padding-bottom: 28px;
  margin-left: 0;
  color: var(--brown-color);

  &::after {
    background-image: url('../img/arrow-more-brown.svg');
  }

  @media (max-width: (768px)) {
    padding-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 82px;
      width: 18.35px;
      height: 12px;
      background-image: url('../img/arrow-more-brown-min.svg');
    }
  }

}

// ============ Slider ==========
.reviews {
  &__container {
    position: relative;
  }

  &__item {
    background-color: var(--light-color);
  }

  &__btn-prev {
    background-image: url("../img/btn-prev-blue.svg");
    @include bg-cover;
    position: absolute;
    left: -70px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;

    @media (max-width: (768px)) {
      left: 20px;
      width: 20px;
      height: 30px;
    }

    @media (max-width: (600px)) {
      left: 6px;
    }

    @media (max-width: (500px)) {
      display: none;
    }
  }

  &__btn-next {
    background-image: url("../img/btn-next-blue.svg");
    @include bg-cover;
    position: absolute;
    right: -70px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;

    @media (max-width: (768px)) {
      right: 20px;
      width: 20px;
      height: 30px;
    }

    @media (max-width: (600px)) {
      right: 6px;
    }

    @media (max-width: (500px)) {
      display: none;
    }
  }

  &__btn {
    background-color: var(--light-color);
  }
}

.reviews__slider {
  @media (max-width: (768px)) {
    width: 83%;
  }

  @media (max-width: (500px)) {
    width: 100%;
  }
}

.reviews-pagination {
  .swiper-pagination-bullet {
    background-color: var(--secondary-color);
  }

}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  @media (max-width: (500px)) {
    margin-top: 20px;
  }
}
