@mixin tabs {
  .tabs__nav-btn--active {
    color: var(--secondary-color);
    background-color: var(--light-color);
  }

  .tabs__panel {
    display: none;
  }

  .tabs__panel--active {
    display: block;
  }
}
