<section class="section section-offset benefits">
  <div class="container">
    <h1 class="title title--light">Наши преимущества</h1>
    <ol class="list-reset benefits__inner">
      <li class="benefits__item">
        <!-- <div class="hexagonBen__cover hexagonBen-border"> -->
          <div class="hexagonBen hexagonBen-border">
            <picture>
              <source srcset="img/benefits-1.avif" type="image/avif">
              <source srcset="img/benefits-1.webp" type="image/webp">
              <img loading="lazy" src="img/benefits-1.png" class="image hexagonBen-img" width="" height="" alt="">
            </picture>
          </div>
          <div class="benefits__info">
            <p class="benefits__text">Собственная логистическая служба</p>
            <span class="benefits__number">№01</span>
          </div>
        <!-- </div> -->
      </li>
      <li class="benefits__item">
        <!-- <div class="hexagonBen__cover hexagonBen-border"> -->
          <div class="hexagonBen hexagonBen-border">
            <picture>
              <source srcset="img/benefits-1.avif" type="image/avif">
              <source srcset="img/benefits-1.webp" type="image/webp">
              <img loading="lazy" src="img/benefits-1.png" class="image hexagonBen-img" width="" height="" alt="">
            </picture>
          </div>
          <div class="benefits__info">
            <p class="benefits__text">Собственная логистическая служба</p>
            <span class="benefits__number">№01</span>
          </div>
        <!-- </div> -->
      </li>
      <li class="benefits__item">
        <!-- <div class="hexagonBen__cover hexagonBen-border"> -->
          <div class="hexagonBen hexagonBen-border">
            <picture>
              <source srcset="img/benefits-1.avif" type="image/avif">
              <source srcset="img/benefits-1.webp" type="image/webp">
              <img loading="lazy" src="img/benefits-1.png" class="image hexagonBen-img" width="" height="" alt="">
            </picture>
          </div>
          <div class="benefits__info">
            <p class="benefits__text">Собственная логистическая служба</p>
            <span class="benefits__number">№01</span>
          </div>
        <!-- </div> -->
      </li>
      <li class="benefits__item">
        <!-- <div class="hexagonBen__cover hexagonBen-border"> -->
          <div class="hexagonBen hexagonBen-border">
            <picture>
              <source srcset="img/benefits-1.avif" type="image/avif">
              <source srcset="img/benefits-1.webp" type="image/webp">
              <img loading="lazy" src="img/benefits-1.png" class="image hexagonBen-img" width="" height="" alt="">
            </picture>
          </div>
          <div class="benefits__info">
            <p class="benefits__text">Собственная логистическая служба</p>
            <span class="benefits__number">№01</span>
          </div>
        <!-- </div> -->
      </li>
    </ol>
  </div>
</section>
