<section class="section section-offset benefits">
  <div class="container">
    <h2 class="title title--light">Наши преимущества</h2>
    <ol class="list-reset benefits__inner">
      <li class="benefits__item">
        <img class="figure-bg" src="img/figure.png" alt="Фигура для фона" />
        <div class="hexagonBen hexagonBen-border">
          <picture>
            <source srcset="img/benefits-1.avif" type="image/avif" />
            <source srcset="img/benefits-1.webp" type="image/webp" />
            <img loading="lazy" src="img/benefits-1.png" class="image hexagonBen-img" width="" height="" alt="" />
          </picture>
        </div>
        <div class="benefits__info">
          <p class="benefits__text">Собственная логистическая служба</p>
          <span class="benefits__number">№01</span>
        </div>
      </li>
      <li class="benefits__item">
        <img class="figure-bg" src="img/figure.png" alt="Фигура для фона" />
        <div class="hexagonBen hexagonBen-border">
          <picture>
            <source srcset="img/benefits-2.avif" type="image/avif" />
            <source srcset="img/benefits-2.webp" type="image/webp" />
            <img loading="lazy" src="img/benefits-2.png" class="image hexagonBen-img" width="" height="" alt="" />
          </picture>
        </div>
        <div class="benefits__info">
          <p class="benefits__text">Доставка заказа от 1 дня</p>
          <span class="benefits__number">№02</span>
        </div>
      </li>
      <li class="benefits__item">
        <img class="figure-bg" src="img/figure.png" alt="Фигура для фона" />
        <div class="hexagonBen hexagonBen-border">
          <picture>
            <source srcset="img/benefits-3.avif" type="image/avif" />
            <source srcset="img/benefits-3.webp" type="image/webp" />
            <img loading="lazy" src="img/benefits-3.png" class="image hexagonBen-img" width="" height="" alt="" />
          </picture>
        </div>
        <div class="benefits__info">
          <p class="benefits__text">Товар всегда в наличии на складе</p>
          <span class="benefits__number">№03</span>
        </div>
      </li>
      <li class="benefits__item">
        <img class="figure-bg" src="img/figure.png" alt="Фигура для фона" />
        <div class="hexagonBen hexagonBen-border">
          <picture>
            <source srcset="img/benefits-4.avif" type="image/avif" />
            <source srcset="img/benefits-4.webp" type="image/webp" />
            <img loading="lazy" src="img/benefits-4.png" class="image hexagonBen-img" width="" height="" alt="" />
          </picture>
        </div>
        <div class="benefits__info">
          <p class="benefits__text">Выгодные условия сотрудничества</p>
          <span class="benefits__number">№03</span>
        </div>
      </li>
    </ol>
  </div>
</section>
