<section class="section section-offset catalog">
  <div class="container">
    <h2 class="title">Каталог</h2>
    <div class="catalog__inner">
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-1.avif" type="image/avif">
                <source srcset="img/matherial-1.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-1.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">МДФ</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-2.avif" type="image/avif">
                <source srcset="img/matherial-2.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-2.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">ЛМДФ</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-3.avif" type="image/avif">
                <source srcset="img/matherial-3.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-3.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">ХДФ</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-4.avif" type="image/avif">
                <source srcset="img/matherial-4.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-4.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">ЛХДФ</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-5.avif" type="image/avif">
                <source srcset="img/matherial-5.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-5.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">ДСП</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-6.avif" type="image/avif">
                <source srcset="img/matherial-6.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-6.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">ЛДСП</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-7.avif" type="image/avif">
                <source srcset="img/matherial-7.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-7.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">ДВП</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-8.avif" type="image/avif">
                <source srcset="img/matherial-8.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-8.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">ДВПО</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-9.avif" type="image/avif">
                <source srcset="img/matherial-9.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-9.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">Фанера</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-10.avif" type="image/avif">
                <source srcset="img/matherial-10.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-10.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">МДФ</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <picture>
                <source srcset="img/matherial-11.avif" type="image/avif">
                <source srcset="img/matherial-11.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-11.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">Глянцевые панели</p>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__info">
          <div class="hexagon__cover hexagon-border">
            <div class="hexagon hexagon-border">
              <img class="mask__sale" src="img/SALE.png" alt="">
              <picture>
                <source srcset="img/matherial-12.avif" type="image/avif">
                <source srcset="img/matherial-12.webp" type="image/webp">
                <img loading="lazy" src="img/matherial-12.png" class="image hexagon-img" width="" height="" alt="">
              </picture>
            </div>
          </div>
          <picture>
            <source srcset="img/catalog-bg.avif" type="image/avif">
            <source srcset="img/catalog-bg.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-bg.png" class="image hexagon-primary-img" width="190" height="262"
              alt="Шестиугольник контейнер">
          </picture>
          <p class="catalog__text">скидк
            и акции</p>
        </div>
      </div>
    </div>
    <div class="catalog__button">
      <a href="#" class="btn">перейти в каталог</a>
    </div>
  </div>
</section>
