<div class="container">
  <h2 class="title contactsMain-title">Наши офисы и контакты</h2>
</div>
<section class="section section-offset contacts">
  <div class="container">
    <h2 class="visually-hidden">Наши офисы и контакты</h2>

    <div class="contacts__inner ">
      <div class="contacts__item active">
        <div class="contacts__top">
          <div class="contacts__top-content">
            <h3 class="contacts__title">Нижний Новгород</h3>
            <span class="contacts__characteristic">оптовые продажи</span>
          </div>
        </div>
        <div class="contacts__bottom">
          <div class="contacts__bottom-content">
            <div class="contacts__address">
              <div class="contacts__icon address__icon">
                <img loading="lazy" src="img/loc.svg" class="image" width="23" height="30" alt="Иконка локации">
              </div>
              <p class="contacts__text">ул. Костина, 6к1</p>
            </div>
            <div class="contacts__phone">
              <div class="contacts__icon phone__icon">
                <img loading="lazy" src="img/phone.svg" class="image" width="30" height="30" alt="Иконка телефона">
              </div>
              <div class="phone__info">
                <a class="contacts__text" href="tel:+79302795343">+7 930 279-53-43</a>
                <p class="contacts__text">Юрлов Никита</p>
                <p class="contacts__suptext">коммерческий директор</p>
              </div>
            </div>
            <div class="contacts__email">
              <div class="contacts__icon email__icon">
                <img loading="lazy" src="img/email.svg" class="image" width="30" height="23" alt="Иконка email">
              </div>
              <a class="contacts__text" href="mailto:n.yurlov@tdselena.ru">n.yurlov@tdselena.ru</a>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__item">
        <div class="contacts__top">
          <div class="contacts__top-content">
            <h3 class="contacts__title">Нижний Новгород</h3>
            <span class="contacts__characteristic">оптовые продажи</span>
          </div>
        </div>
        <div class="contacts__bottom">
          <div class="contacts__bottom-content">
            <div class="contacts__address">
              <div class="contacts__icon address__icon">
                <img loading="lazy" src="img/loc.svg" class="image" width="23" height="30" alt="Иконка локации">
              </div>
              <p class="contacts__text">ул. Костина, 6к1</p>
            </div>
            <div class="contacts__phone">
              <div class="contacts__icon phone__icon">
                <img loading="lazy" src="img/phone.svg" class="image" width="30" height="30" alt="Иконка телефона">
              </div>
              <div class="phone__info">
                <a class="contacts__text" href="tel:+79302795343">+7 930 279-53-43</a>
                <p class="contacts__text">Юрлов Никита</p>
                <p class="contacts__suptext">коммерческий директор</p>
              </div>
            </div>
            <div class="contacts__email">
              <div class="contacts__icon email__icon">
                <img loading="lazy" src="img/email.svg" class="image" width="30" height="23" alt="Иконка email">
              </div>
              <a class="contacts__text" href="mailto:n.yurlov@tdselena.ru">n.yurlov@tdselena.ru</a>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__item">
        <div class="contacts__top">
          <div class="contacts__top-content">
            <h3 class="contacts__title">Нижний Новгород</h3>
            <span class="contacts__characteristic">оптовые продажи</span>
          </div>
        </div>
        <div class="contacts__bottom">
          <div class="contacts__bottom-content">
            <div class="contacts__address">
              <div class="contacts__icon address__icon">
                <img loading="lazy" src="img/loc.svg" class="image" width="23" height="30" alt="Иконка локации">
              </div>
              <p class="contacts__text">ул. Костина, 6к1</p>
            </div>
            <div class="contacts__phone">
              <div class="contacts__icon phone__icon">
                <img loading="lazy" src="img/phone.svg" class="image" width="30" height="30" alt="Иконка телефона">
              </div>
              <div class="phone__info">
                <a class="contacts__text" href="tel:+79302795343">+7 930 279-53-43</a>
                <p class="contacts__text">Юрлов Никита</p>
                <p class="contacts__suptext">коммерческий директор</p>
              </div>
            </div>
            <div class="contacts__email">
              <div class="contacts__icon email__icon">
                <img loading="lazy" src="img/email.svg" class="image" width="30" height="23" alt="Иконка email">
              </div>
              <a class="contacts__text" href="mailto:n.yurlov@tdselena.ru">n.yurlov@tdselena.ru</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
