<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="sitemap">
        <div class="sitemap__item">
          <h3 class="sitemap__title"><a class="title title--min title--light" href="#">Каталог</a></h3>
          <ul class="list-reset">
            <li><a class="sitemap__link" href="#">Карта категорий</a></li>
            <li><a class="sitemap__link" href="#">Каталог продукции</a></li>
          </ul>
        </div>
        <div class="sitemap__item">
          <h3 class="sitemap__title"><a class="title title--min title--light" href="#">О компании</a></h3>
          <ul class="list-reset">
            <li><a class="sitemap__link" href="#">История компании</a></li>
            <li><a class="sitemap__link" href="#">S group сегодня</a></li>
            <li><a class="sitemap__link" href="#">Марафон Добра</a></li>
            <li><a class="sitemap__link" href="#">Работа в S GROUP</a></li>
            <li><a class="sitemap__link" href="#">Корпоративная жизнь</a></li>
          </ul>
        </div>
        <div class="sitemap__item sitemap__item--orderLast">
          <h3 class="sitemap__title"><a class="title title--min title--light" href="#">Контакты</a></h3>
          <h3 class="sitemap__title"><a class="title title--min title--light" href="#">Доставка и оплата</a></h3>
          <h3 class="sitemap__title"><a class="title title--min title--light" href="#">Стать партнером</a></h3>
        </div>
        <div class="sitemap__item">
          <h3 class="sitemap__title"><a class="title title--min title--light" href="#">Новости</a></h3>
          <ul class="list-reset">
            <li><a class="sitemap__link" href="#">Новости о продуктах</a></li>
            <li><a class="sitemap__link" href="#">Новости компании</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="copyright">© S group, 2006-2021</p>
        <div class="polits">
          <a class="polits__item" href="#">Политика конфиденциальности</a>
          <a class="polits__item" href="#">Политика обработки персональных данных</a>
        </div>
      </div>
    </div>
  </div>
</footer>
