<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="230" height="80" alt="Логотип s-group">
      </a>
      <div class="header__center">
        <div class="header__location">Нижний новгород</div>
        <nav class="nav" title="Навигация">
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
            <li class="nav__item"><a href="#" class="nav__link nav__link--arrow">О компании</a></li>
            <li class="nav__item"><a href="#" class="nav__link nav__link--arrow">Новости</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__icons">
        <a class="header__icon" href="#">
          <img loading="lazy" src="img/search.svg" class="image" width="30" height="30" alt="Иконка поиска">
        </a>
        <a class="header__icon" href="#">
          <img loading="lazy" src="img/basket.svg" class="image" width="30" height="30" alt="Иконка корзины">
        </a>
        <a href="#" class="header__icon burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
          <img loading="lazy" src="img/burger-menu.svg" class="image" width="50" height="26" alt="Иконка меню-бургера ">
        </a>
      </div>
    </div>
  </div>
</header>
