<section class="section intro">
  <div class="container">
    <div class="intro__inner">
      <h1 class="intro__title">S GROUP</h1>
      <h2 class="intro__suptitle">ориентир вашего успеха!</h2>

      <div class="intro__info">
        <p class="intro__text">Наша компания рада предложить Вам
          широкий ассортимент мебельных и строительных
          материалов. У нас Вы найдете продукцию, которая подходит
          под Ваши потребности по оптимальной цене, высокого
          качества. Фурные поставки древесно-плитных
          материалов осуществляются напрямую...</p>
        <div class="intro__more">Подробнее</div>
      </div>
    </div>
  </div>
</section>
