<section class="section section-offset news">
  <div class="container">
    <h1 class="title title--light">Новости</h1>
    <div class="news__filtr">
      <a class="news__link news__link-active" href="#">Новости о продукции</a>
      <a class="news__link" href="#">Новости компании</a>
    </div>


  <!-- Доп. контейнер -->
    <div class="news__container">
      <!-- Главный контейнер слайдера -->
      <div class="swiper news__slider">
        <!-- Слайды -->
        <div class="swiper-wrapper news__slider-wpapper">
          <div class="swiper-slide news__slider-slick">
            <div class="news__item">
              <picture>
                <source srcset="img/new-1.avif" type="image/avif">
                <source srcset="img/new-1.webp" type="image/webp">
                <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
              </picture>
              <div class="news__content">
                <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                <div class="intro__more intro__more--secondary">Подробнее</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide news__slider-slick">
            <div class="news__item">
              <picture>
                <source srcset="img/new-1.avif" type="image/avif">
                <source srcset="img/new-1.webp" type="image/webp">
                <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
              </picture>
              <div class="news__content">
                <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                <div class="intro__more intro__more--secondary">Подробнее</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide news__slider-slick">
            <div class="news__item">
              <picture>
                <source srcset="img/new-1.avif" type="image/avif">
                <source srcset="img/new-1.webp" type="image/webp">
                <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
              </picture>
              <div class="news__content">
                <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                <div class="intro__more intro__more--secondary">Подробнее</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide news__slider-slick">
            <div class="news__item">
              <picture>
                <source srcset="img/new-1.avif" type="image/avif">
                <source srcset="img/new-1.webp" type="image/webp">
                <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
              </picture>
              <div class="news__content">
                <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                <div class="intro__more intro__more--secondary">Подробнее</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide news__slider-slick">
            <div class="news__item">
              <picture>
                <source srcset="img/new-1.avif" type="image/avif">
                <source srcset="img/new-1.webp" type="image/webp">
                <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
              </picture>
              <div class="news__content">
                <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                <div class="intro__more intro__more--secondary">Подробнее</div>
              </div>
            </div>
          </div>
        </div><!-- /.Слайды -->
      </div><!-- /.Главный контейнер слайдера -->
      <div class="news__btn-prev"></div>
      <div class="news__btn-next"></div>
    </div><!-- /.Доп. контейнер -->
    <div class="news__btn-box">
    </div>
</section>
