<section class="section section-offset news">
  <div class="container">
    <h2 class="title title--light">Новости</h2>

    <div class="tabs" data-tabs="newsTabs">
      <ul class="list-reset news__filtr tabs__nav">
        <li class="list-reset tabs__nav-item"><button class="tabs__nav-btn news__link" type="button">Новости о продукции</button></li>
        <li class="list-reset tabs__nav-item"><button class="tabs__nav-btn news__link" type="button">Новости компании</button></li>
      </ul>

      <div class="tabs__content">
        <div class="tabs__panel">
          <!-- Доп. контейнер -->
          <div class="news__container">
            <!-- Главный контейнер слайдера -->
            <div class="swiper news__slider-1">
              <!-- Слайды -->
              <div class="swiper-wrapper news__slider-wpapper">
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>


              </div><!-- /.Слайды -->
            </div><!-- /.Главный контейнер слайдера -->
            <div class="news__btn-prev-1"></div>
            <div class="news__btn-next-1"></div>

            <div class="news-pagination-1"></div>
          </div><!-- /.Доп. контейнер -->
        </div>
        <div class="tabs__panel">
          <!-- Доп. контейнер -->
          <div class="news__container">
            <!-- Главный контейнер слайдера -->
            <div class="swiper news__slider-2">
              <!-- Слайды -->
              <div class="swiper-wrapper news__slider-wpapper">
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Не следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide news__slider-slick">
                  <div class="news__item">
                    <div class="news__img">
                      <picture>
                        <source srcset="img/new-1.avif" type="image/avif">
                        <source srcset="img/new-1.webp" type="image/webp">
                        <img loading="lazy" src="img/new-1.jpg" class="image" alt="Фото новости">
                      </picture>
                    </div>
                    <div class="news__content">
                      <p class="news__text">Следует, однако забывать, что начало повседневной работы...</p>
                      <a href="#" class="intro__more intro__more--secondary">Подробнее</a>
                    </div>
                  </div>
                </div>


              </div><!-- /.Слайды -->
            </div><!-- /.Главный контейнер слайдера -->
            <div class="news__btn-prev-2"></div>
            <div class="news__btn-next-2"></div>

            <div class="news-pagination-2"></div>
          </div><!-- /.Доп. контейнер -->
        </div>
      </div>
    </div>


</section>
