<section class="section section-offset partners">
  <div class="container">
    <h2 class="title">Наши партнеры</h2>

  <!-- Доп. контейнер -->
    <div class="partners__container">
      <!-- Главный контейнер слайдера -->
      <div class="swiper partners__slider">
        <!-- Слайды -->
        <div class="swiper-wrapper partners__slider-wpapper">
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-1.avif" type="image/avif">
                  <source srcset="img/partners-1.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-1.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-2.avif" type="image/avif">
                  <source srcset="img/partners-2.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-2.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-3.avif" type="image/avif">
                  <source srcset="img/partners-3.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-3.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-4.avif" type="image/avif">
                  <source srcset="img/partners-4.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-4.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-5.avif" type="image/avif">
                  <source srcset="img/partners-5.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-5.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-6.avif" type="image/avif">
                  <source srcset="img/partners-6.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-6.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-1.avif" type="image/avif">
                  <source srcset="img/partners-1.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-1.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide partners__slider-slick">
            <div class="partners__item">
              <div class="partners__img">
                <picture>
                  <source srcset="img/partners-2.avif" type="image/avif">
                  <source srcset="img/partners-2.webp" type="image/webp">
                  <img loading="lazy" src="img/partners-2.jpg" class="image" alt="Лого партнера">
                </picture>
              </div>
            </div>
          </div>



        </div><!-- /.Слайды -->
      </div><!-- /.Главный контейнер слайдера -->
      <div class="partners__btn-prev"></div>
      <div class="partners__btn-next"></div>

    </div><!-- /.Доп. контейнер -->

</section>
