<section class="section section-offset questions">
  <div class="container">

    <div class="questions__block">
      <form action="/" class="form">
        <h2 class="title title--light title--form">Остались вопросы?</h2>
        <p class="questions__suptitle">Оставьте свои контактные данные, и мы презвоним вам в ближайшее время</p>

        <div class="form__inner">
          <div class="form__group">
            <label class="form__label">
              <input type="text" name="name" class="input-reset form__input" placeholder="Ваше имя">
            </label>
          </div>
          <div class="form__group">
            <label class="form__label">
              <input type="number" name="phone" class="input-reset form__input" placeholder="Ваш телефон">
            </label>
          </div>
          <div class="form__group">
            <label class="form__label">
              <input type="email" name="email" class="input-reset form__input" placeholder="Ваш email">
            </label>
          </div>
          <div class="form__group">
            <button type="submit" class="btn btn__questions">Отправить</button>
          </div>
        </div>
        <div class="checkbox__group">
          <input type="checkbox" class="custom-checkbox" id="personalData" name="personalData" value="yes">
          <label for="personalData">Я согласен на обработку персональных данных, а также
            соглашаюсь с политикой
            конфиденциальности</label>
        </div>

      </form>
    </div>
  </div>
</section>
