<section class="section section-offset reviews">
  <div class="container">
    <h2 class="title title--light">Отзывы наших клиентов</h2>

    <!-- Доп. контейнер -->
    <div class="reviews__container">
      <!-- Главный контейнер слайдера -->
      <div class="swiper reviews__slider">
        <!-- Слайды -->
        <div class="swiper-wrapper reviews__slider-wpapper">
          <div class="swiper-slide reviews__slider-slick">
            <div class="reviews__item">
              <div class="reviews__top">
                <div class="reviews__img">
                  <picture>
                    <source srcset="img/reviews-photo-1.avif" type="image/avif" />
                    <source srcset="img/reviews-photo-1.webp" type="image/webp" />
                    <img loading="lazy" src="img/reviews-photo-1.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__name">
                  <p>Иван Сергеев</p>
                  <span>руководитель отдела закупок</span>
                  <span>«Строинвест»</span>
                </div>
              </div>
              <div class="reviews__bottom">
                <div class="reviews__quotation">
                  <picture>
                    <source srcset="img/quotation.avif" type="image/avif" />
                    <source srcset="img/quotation.webp" type="image/webp" />
                    <img loading="lazy" src="img/quotation.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__bottom-info">
                  <p class="reviews__content">
                    Группа Компаний S GROUP предлагает широкий ассортимент оптом и
                    в розницу. У нас более предлагает широкий ассортимент оптом и
                    в розницу наименований...
                  </p>
                  <a href="#" class="intro__more intro__more--brown">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews__slider-slick">
            <div class="reviews__item">
              <div class="reviews__top">
                <div class="reviews__img">
                  <picture>
                    <source srcset="img/reviews-photo-2.avif" type="image/avif" />
                    <source srcset="img/reviews-photo-2.webp" type="image/webp" />
                    <img loading="lazy" src="img/reviews-photo-2.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__name">
                  <p>Иван Сергеев</p>
                  <span>руководитель отдела закупок</span>
                  <span>«Строинвест»</span>
                </div>
              </div>
              <div class="reviews__bottom">
                <div class="reviews__quotation">
                  <picture>
                    <source srcset="img/quotation.avif" type="image/avif" />
                    <source srcset="img/quotation.webp" type="image/webp" />
                    <img loading="lazy" src="img/quotation.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__bottom-info">
                  <p class="reviews__content">
                    Группа Компаний S GROUP предлагает широкий ассортимент оптом и
                    в розницу. У нас более предлагает широкий ассортимент оптом и
                    в розницу наименований...
                  </p>
                  <a href="#" class="intro__more intro__more--brown">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews__slider-slick">
            <div class="reviews__item">
              <div class="reviews__top">
                <div class="reviews__img">
                  <picture>
                    <source srcset="img/reviews-photo-1.avif" type="image/avif" />
                    <source srcset="img/reviews-photo-1.webp" type="image/webp" />
                    <img loading="lazy" src="img/reviews-photo-1.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__name">
                  <p>Иван Сергеев</p>
                  <span>руководитель отдела закупок</span>
                  <span>«Строинвест»</span>
                </div>
              </div>
              <div class="reviews__bottom">
                <div class="reviews__quotation">
                  <picture>
                    <source srcset="img/quotation.avif" type="image/avif" />
                    <source srcset="img/quotation.webp" type="image/webp" />
                    <img loading="lazy" src="img/quotation.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__bottom-info">
                  <p class="reviews__content">
                    Группа Компаний S GROUP предлагает широкий ассортимент оптом и
                    в розницу. У нас более предлагает широкий ассортимент оптом и
                    в розницу наименований...
                  </p>
                  <a href="#" class="intro__more intro__more--brown">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews__slider-slick">
            <div class="reviews__item">
              <div class="reviews__top">
                <div class="reviews__img">
                  <picture>
                    <source srcset="img/reviews-photo-2.avif" type="image/avif" />
                    <source srcset="img/reviews-photo-2.webp" type="image/webp" />
                    <img loading="lazy" src="img/reviews-photo-2.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__name">
                  <p>Иван Сергеев</p>
                  <span>руководитель отдела закупок</span>
                  <span>«Строинвест»</span>
                </div>
              </div>
              <div class="reviews__bottom">
                <div class="reviews__quotation">
                  <picture>
                    <source srcset="img/quotation.avif" type="image/avif" />
                    <source srcset="img/quotation.webp" type="image/webp" />
                    <img loading="lazy" src="img/quotation.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__bottom-info">
                  <p class="reviews__content">
                    Группа Компаний S GROUP предлагает широкий ассортимент оптом и
                    в розницу. У нас более предлагает широкий ассортимент оптом и
                    в розницу наименований...
                  </p>
                  <a href="#" class="intro__more intro__more--brown">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews__slider-slick">
            <div class="reviews__item">
              <div class="reviews__top">
                <div class="reviews__img">
                  <picture>
                    <source srcset="img/reviews-photo-1.avif" type="image/avif" />
                    <source srcset="img/reviews-photo-1.webp" type="image/webp" />
                    <img loading="lazy" src="img/reviews-photo-1.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__name">
                  <p>Иван Сергеев</p>
                  <span>руководитель отдела закупок</span>
                  <span>«Строинвест»</span>
                </div>
              </div>
              <div class="reviews__bottom">
                <div class="reviews__quotation">
                  <picture>
                    <source srcset="img/quotation.avif" type="image/avif" />
                    <source srcset="img/quotation.webp" type="image/webp" />
                    <img loading="lazy" src="img/quotation.jpg" class="image" alt="Фото новости" />
                  </picture>
                </div>
                <div class="reviews__bottom-info">
                  <p class="reviews__content">
                    Группа Компаний S GROUP предлагает широкий ассортимент оптом и
                    в розницу. У нас более предлагает широкий ассортимент оптом и
                    в розницу наименований...
                  </p>
                  <a href="#" class="intro__more intro__more--brown">Подробнее</a>
                </div>
              </div>
            </div>
          </div>


        </div><!-- /.Слайды -->
      </div><!-- /.Главный контейнер слайдера -->
      <div class="reviews__btn-prev"></div>
      <div class="reviews__btn-next"></div>

      <div class="reviews-pagination"></div>
    </div><!-- /.Доп. контейнер -->
</section>


